
@font-face{
    font-family:"Aeonik";
    src: url("../ressources/police/Aeonik-Regular.otf") format("opentype");
    font-style: normal;
    font-display:swap;
}

body {
    background-color: black;
    position:relative;
    color:white;
    -ms-overflow-style:none;
    scrollbar-width:none;
    font-family:"Aeonik", sans-serif;
    width:100vw;
    max-width:100vw;
    min-width:320px;  
    user-select: none;
    overflow-x: hidden;  
     
}

a, a:active, a:visited{
   text-decoration: none;
   color:white;
}

.font-bungee {
    font-family: 'Bungee Shade', cursive;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive
}

.font-major {
    font-family: 'Major Mono Display', monospace;
}

.bottom {
    bottom:0;
    width:100vw;
    height:5px;

}

.top {
    top:0;
    width:100vw;
    height:5px;

}

.left {
    left:0;
    height:100%;
    width:5px;
}

.right {
    right:0;
    height:100%;
    width:5px;
}

::-webkit-scrollbar {
   display:none;
}

*{
    margin:0;
    padding:0;
}

ul,li {
    list-style: none;
    margin:0;
}

@mixin container {
    width:100vw;
    height:100vh;
     min-height:320px;
     min-width:320px;  
}

@mixin flex {
    display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes opacityQuick {
    100% {opacity:1}  
}

@keyframes disappear {
    100% {opacity:0}  
}

@keyframes translate {
    // 0%{transform:translateX(-90px)}
    20%{transform:translateX(-50px)}
    60%{transform:translateX(-50px)}
    100% {transform:translateX(0)}   
}

.opacityQuick{
    animation:opacityQuick 300ms forwards 4000ms; 
}

.front-container{
    @include container;
    @include flex;
    font-size:8rem;
    left:0;
    top:0;
    transform:all 2000ms ease-out;

    &__hello {
        font-size:1rem;
        position:absolute;
        font-family:"Press Start 2P" ;
        width:100px;
        top:50%;
        animation:disappear 100ms forwards 3500ms;
        &__effect{
            background-color: black;
            min-width:100px;
            display:inline-block;
            position:absolute;
            transform:translateX(-90px);
            animation:translate 3000ms forwards;

            &__opacity {
                animation: opacityQuick 400ms infinite;
                opacity:0
            }
        }
    }
}

.homepage {
    position:relative;
    @include container;
    @include flex; 
}


.mirror{
    background-color: white;
    border-radius: 25px;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    mix-blend-mode: difference;
    pointer-events: none;
}

.marquee{
    position: absolute;
    bottom:0;
    z-index:9999;
    overflow: hidden;
    --move-final: calc(-50% );
    height:2vh;
    min-height:50px;
    background-color: white;
    mix-blend-mode: difference;
    width:100%;
    color:black;
    &__inner{
        width: fit-content;
        display: flex;
        position: relative;
        height:100%;
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee 15s linear infinite;
        & span {
            @include flex;
            font-size: 2vh;
            
            padding: 0 1vw;
            color:black;
            vertical-align: center;
            font-family: 'Major Mono Display', monospace;
        }
    }
}

.marquee__point {  
    margin-left:10px;
    overflow: hidden;
    --move-final: calc(-33% );
    &__inner{
        width: fit-content;
       display:flex;
        position: relative;
        height:100%;
        width:40px;
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee__point 1s linear infinite;
        & span {
            color:white;
            width:10px;
            margin-right:3px;
           
        }
    }
}

@keyframes marquee__point {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    50% {
        transform: translate3d(var(--move-final), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.presentation{
    @include container;
    @include flex;
    box-sizing: border-box;
    border-bottom:none;
    font-size:10rem;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    @media screen and (max-height:1440px),screen and (max-width:1440px) {
        font-size:8rem;    
    }
    @media screen and (max-height:1024px),screen and (max-width:1024px) {
        font-size:6rem;    
    }
    @media screen and (max-height:768px),screen and (max-width:768px) {
        font-size:3rem;    
    }
    @media screen and (max-width:400px),screen and (max-height:400px) {
        font-size:2rem;    
    }

    &__container {
        width:100vw;
        height:100vh;
        @include flex;
        &__profil-picture {
            position:absolute;
            min-width:500px;
            min-height:500px;
            background: url("../ressources/images/profil.jpeg") no-repeat;
            background-size: cover;
            border-radius: 5%;
            top:0;
            left:0;
            transition:opacity 300ms;
        }
        &__underline{
            text-decoration: underline;
            text-transform: uppercase;
            position:absolute;
            top:20%;
            height:200px;
            font-family: "Permanent Marker";
            cursor:crosshair;
        }
        &__text{
            position:absolute;
            top:55%;
            text-align: end;
            width:90%;
            text-transform:uppercase;
            &__span {
                position:absolute;
                top:63%;
                text-align: start;
                width:90%;
                //min-width:880px;
                & span {
                    color:#E1A624;
                }
            }
        }
    }
}

.vertical-container {
    display:flex;
    overflow: hidden;
    @include container;
 
}

.description {
   box-sizing: border-box;
    @include container;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    overflow:hidden;
    min-width:100vw;  
    &__title{
        font-size:6rem;
        position:absolute;
        top:30vh;
        transform-origin: 50% 40vh;
        @media screen and (max-width:768px),screen and (max-height:768px) {
            font-size:4rem;    
        }
        @media screen and (max-width:400px),screen and (max-height:400px) {
            font-size:2rem;    
        }
        @media screen and (max-width:320px),screen and (max-height:320px) {
            font-size:1rem;    
            top:40vh;
        }
    }
    &__picture{
        height:100vh;
        width:100%;
        position:absolute;
        left:0;
        top:0;
        background:url("../ressources/images/qrcode.webp") no-repeat;
        background-position: center;
        background-size: cover;
        transform:translate(100%,0);
        z-index:1;
    }
    &__div {
        position:absolute;
        padding: 0 1%;
        width:60%;
        font-size:2rem;
        bottom:10%;
        @media screen and (max-width:768px),screen and (max-height:768px) {
            font-size:1rem;    
        }
        @media screen and (max-width:400px),screen and (max-height:400px) {
            font-size:0.75rem;    
        }
        @media screen and (max-width:320px),screen and (max-height:320px) {
            font-size:0.5rem;    
        }
        & p {
            margin-bottom:20px;
        }
        &__line{
            transform:translateX(-0vw);
            position:absolute;
            overflow: hidden;
            &__ball{
                width:100%;
                height:100%;
                background-color:white;
            }
        }
    }
}

.projet {
    @include container;
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width:400vw;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    position:relative;
    @media screen and (max-width:768px),screen and (max-height:768px) {
        width:1200vw;
        min-width:1200vw;
     }
    &__title{
        margin-left:20px;
        font-size: 28vh;
    }
    &__container {
        @include flex;
        left:0;
        height:60vh;

    }
}

.card-container {
    font-size:1rem; 
    min-width:33.33vw;
    width:33.33vw;
    height:60vh;
    min-height:60vh;
    margin-bottom:10vh;
    overflow: hidden;
    position:relative;
    @media screen and (max-width:768px),screen and (max-height:768px) {
       width:100vw;
       min-width:100vw;
    }
    &__title {
        height:10%;
        @include flex;
        border-bottom:2px solid ;
        font-size: 3em;
        margin-bottom:1%;
        @media screen and (max-width:1260px)  {
            font-size:2.5em;    
        }
        @media screen and (max-width:1050px),screen and (max-height:678px) {
            font-size:2em;    
        }
        @media screen and (max-width:835px)  {
            font-size:1.75em;    
        }
        @media screen and (max-width:768px)  {
            font-size:3em;    
        }
        @media screen and (max-height:425px),screen and (max-width:425px)  {
            font-size:2rem;    
        }
        @media screen and (max-height:375px),screen and (max-width:375px)  {
            font-size:1.5rem;    
        }
    }
    &__description {
        padding-left:5%;
        height:15%;
        @media screen and (max-height:768px),screen and (max-width:768px) {
            font-size:1rem;    
        }
        @media screen and (max-height:410px),screen and (max-width:410px) {
            font-size:0.75rem;    
        }
    }
    &__tools {

        padding-left:5%;
        height:5%;
        display:flex;
        flex-wrap: wrap;
        @media screen and (max-height:768),screen and (max-width:768) {
            font-size:1rem;    
        }
        @media screen and (max-height:410px),screen and (max-width:410px) {
            font-size:0.75rem;    
        }
        & li {
            margin-right:10px;
            color:#E1A624;
            padding:0;
        }
    }
    &__div{
        margin:0 auto;
        margin-top:3%;
        margin-bottom:5%;
        height:40%;
        max-width:90%;
        overflow: hidden;
        &__picture{
            width:100%;
            height:100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat; 
            transition:all 300ms ease-in;
            &:hover{
                transform:scale(1.1);
            }
        }
    }
    &__buttons {
        @include flex;
        height:5%;
        padding:0 10%;
        justify-content: center;
        column-gap: 20%;  
        @media screen and (max-height:768),screen and (max-width:768) {
            font-size:1rem;    
        }
        @media screen and (max-height:410px),screen and (max-width:410px) {
            font-size:0.75rem;    
        }
        & div {
            @include flex;
        }
        & div:hover {
            transform:translateX(10%);
            transition:all 100ms ease-in
        }
    }
}

.parcours {
    @include container;
    position:relative;
    overflow: hidden;
    border-top:2px solid;
    &__container{
        box-sizing: border-box;
        padding-top:50px;
        font-size:3rem;
        @include container;
        border-bottom:2px solid;
        border-radius: 0 0 15px 15px;
        @media screen and (max-width:768px),screen and (max-height:768px) {
            font-size:1.5rem;    
        }
        @media screen and (max-width:400px),screen and (max-height:400px) {
            font-size:1rem;    
        }
        @media screen and (max-width:320px),screen and (max-height:320px) {
            font-size:0.75rem;    
        }
        & p {
            padding:0 10%;
            //margin-bottom:20px;
        }
        &__picture {
            width:20%;
            height:20%;
            background:url("../ressources/images/book.webp") no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 30%;
            position:absolute;
            margin: auto;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
        &__hidden-text{
            color:black !important;
            position:absolute;
            top:35vh;
            left:0;
            right:0;
            margin:auto;
            z-index:10;
            width:100%;
            height:fit-content;
            text-align: center;
            font-size: 6rem;
            font-family: "Monoton";
            @media screen and (max-width:768px),screen and (max-height:768px) {
                font-size:4rem;    
            }
            @media screen and (max-width:400px),screen and (max-height:400px) {
                font-size:2rem;    
            }
            @media screen and (max-width:320px),screen and (max-height:320px) {
                font-size:2rem;    
            }
        }
    } 
    &__contact {
        @include container;
        color:white !important;
        overflow: hidden;
        bottom:0;
        z-index:-1;
        position:absolute;
        height:35vh;
        min-height:35vh;
        background: url("../ressources/images/heart.webp");
        background-position: center;
        background-size: cover;
        &__container{
          // @include container;
           height:35vh;
           min-height:35vh;
           padding-top:5vh;
           position:relative;
           background-color: rgba(0,0,0,0.7);
           &__title{
            position : absolute;
            display:flex;
            padding-left:10%;
            padding-top:5vh;
            font-size: 4rem;
            @media screen and (max-width:768px),screen and (max-height:768px) {
                font-size:2rem;    
            }
            @media screen and (max-width:400px),screen and (max-height:400px) {
                font-size:1.5rem;    
            }
            @media screen and (max-width:320px),screen and (max-height:320px) {
                font-size:0.75rem;    
            }
            }
           &__icon-div{
              @include flex;
              column-gap: 10%;
              padding-top:10vh;
              height:10vh;
              @media screen and (max-width:768px),screen and (max-height:768px) {
                font-size: 0.5rem;  
              }
              &__link {
                  padding-right:15px; 
              }
              & a:hover{
                transform:translateY(-10%) scale(1.1);
                transition:all 100ms ease-in
              }
            }
        }
    }
}

.scroll {
    position:fixed;
    color:white;
    bottom:15%;
    right:10%;
    //left:0;
    margin: auto auto;
    width:min-content;
    text-align: center;
    font-size: 2rem;
    animation:blink 2000ms infinite;
    @media screen and (max-width:768px),screen and (max-height:768px) {
        font-size:1rem;    
    }
}

.go-back {
    position:absolute;
    bottom:3vh;
    color:white;
    left:0;
    right:0;
    width:fit-content;
    margin:auto;
    @media screen and (max-width:768px),screen and (max-height:768px) {
        font-size: 1rem;  
      }
    @media screen and (max-width:425px),screen and (max-height:425px) {
    font-size: 0.5rem;  
    }
}

@keyframes blink {
    0% {opacity:0.3}
    100%{opacity:1}
    
}

.empty{
   @include container;
}

and (min-device-width : 768px) 
   .mirror, .scroll{
       display:none;
   } 
}

