
@font-face{
    font-family:"Aeonik";
    src: url("../ressources/police/Aeonik-Regular.otf") format("opentype");
    font-style: normal;
}


body {
    background-color: black;
    position:relative;
    color:white;
    -ms-overflow-style:none;
    scrollbar-width:none;
    font-family:"Aeonik", sans-serif;
    width:100%;
     min-width:768px;  
    user-select: none;
    //overflow-x: hidden;   
}

.font-monoton {
font-family: 'Monoton', monospace;
}

::-webkit-scrollbar {
  // display:none;
}

*{
    margin:0;
    padding:0;
    // cursor:none;
}

@mixin container {
    width:100vw;
    height:100vh;
    min-height:768px;
    min-width:768px;  
}

@mixin flex {
    display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes opacityQuick {
    100% {opacity:1}  
}

@keyframes disappear {
    100% {opacity:0}  
}

@keyframes translate {
    // 0%{transform:translateX(-90px)}
    20%{transform:translateX(-50px)}
    60%{transform:translateX(-50px)}
    100% {transform:translateX(0)}   
}

.opacityQuick{
    animation:opacityQuick 300ms forwards 4000ms; 
}

.front-container{
    @include container;
    width:100vw;
    @include flex;
    font-size:8rem;
    left:0;
    top:0;
    transform:all 2000ms ease-out;

    &__hello {
        font-size:1rem;
        position:absolute;
        font-family:"Press Start 2P" ;
        width:100px;
        top:50%;
        animation:disappear 100ms forwards 3500ms;
        &__effect{
            background-color: black;
            min-width:100px;
            display:inline-block;
            position:absolute;
            transform:translateX(-90px);
            animation:translate 3000ms forwards;

            &__opacity {
                animation: opacityQuick 400ms infinite;
                opacity:0
            }
        }
    }
}

.homepage{
    position:relative;
    @include container;
    @include flex; 
}

.invert {
    color:rgba(0,0,0,0.5);
    z-index:3;
    cursor: crosshair;
}

.mirror{
    color:black;
    background-color: white;
    border-radius: 25px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    overflow: hidden;
    @include flex;
    &__presentation{
        @include container;
        width:100vw;
        @include flex;
        font-size:8rem;
        position:absolute;
        left:0;
        top:0;
        @media screen and (max-height:1024px) {
            font-size:4rem;    
        }
        &__container {
            width:100vw;
            height:100vh;
            @include flex;
            &__underline{
                text-decoration: underline;
                text-transform: uppercase;
                position:absolute;
                top:20%;
                height:200px;
                font-family: "Permanent Marker";
            }
            &__text{
                position:absolute;
                top:55%;
                text-align: end;
                width:90%;
                text-transform:uppercase;
                &__span {
                    position:absolute;
                    top:63%;
                    text-align: start;
                    width:90%;
                    min-width:880px;
                }
            }
        }
    }
}

.presentation {
    @extend .mirror__presentation;
    &__container {
        @extend .mirror__presentation__container;
            &__underline{
            @extend .mirror__presentation__container__underline;
            cursor: crosshair;
        }
        &__text {
            @extend .mirror__presentation__container__text;
            &__span {
                @extend .mirror__presentation__container__text__span;
            }
        }
            &__profil-picture {
            position:absolute;
            z-index:2;
            min-width:500px;
            min-height:500px;
            background: url("../ressources/images/profil.jpg") no-repeat;
            background-size: cover;
            border-radius: 5%;
            top:0;
            left:0;
            transition:opacity 300ms

        }
    }
}

.vertical-container {
    display:flex;
   overflow-y: hidden;
    width:200vw;
    z-index:-1,
}

.description {
    background-color: blue;
    @include container;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    overflow:hidden;
    box-sizing: border-box;
    
    &__title{
        font-size:6rem;
        position:absolute;
        top:30vh;
        z-index:99;
        transform-origin: 50% 40vh;
    }
    &__div {
        position:absolute;
        padding: 0 10%;
        font-size:3rem;
        bottom:10%;
    }
}

.projet {
    @include container;
    background-color: green;
    @include flex;
    //position:absolute;
}

.parcours {
    width:100vh;
    height:100vw;
    transform:rotate(-90deg) translateX(-100vh);
    transform-origin:top left;
    overflow-x: hidden;

    &__blocHorizontal {
        background-color: yellow;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width:400vw;
        height:100vh;
        transform:rotate(90deg) translateY(-100vh);
        transform-origin:top left;
       
        &__slide {
            display:flex;
            align-items: center;
            justify-content: center;
            @include container;

            &__one {
                background: blue;
            }
            &__two {
                background-color: red;
            }
            &__three{
                background-color: antiquewhite;
            }
            &__four {
                background: grey;
            }
        }
    }
}







